.toplevel_page_am-cookies {

  [hidden] {
    display: none;
  }

  .fade-in {
    animation: fadeIn .2s ease-in-out;
  }

  .wpbody-content>*:not(section):not(.clear),
  .notice.update-nag {
    position: absolute;
    right: 20px;
    z-index: 99;
  }

  #dolly {
    display: none;
  }

  .notice.update-nag {
    box-shadow: -5px -5px 20px #000;
  }

  .am-gdpr-settings {
    .am-gdpr-header-wrapper {
      position: fixed;
      width: 100%;
      top: 32px;
      z-index: 100;
      margin-left: -20px;
      width: calc(100% - 200px)
    }
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // gap: .7em;
      color: #FFF;
      background-color: #061a2a;
      width: 100%;
      padding: 20px;
      // margin-left: -20px;
      // width: calc(100% - 20px);

      * {
        color: #FFF;
      }

      svg {
        background-color: #FFF;
        border-radius: 33.3%;
      }
    }

    nav {
      background-color: #FFF;
      // color 
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      width: 100%;
      display: flex;
      gap: 1em;
      padding: 20px;
      // margin-left: -20px;
      // width: calc(100% - 20px);

      a {
        font-size: 1.2em;
        text-decoration: none;

        &[data-active="true"] {
          color: var(--wp-admin-theme-color, #3858e9);
          font-weight: bold;
        }

        &:focus {
          box-shadow: none;
          outline: 0;
        }
      }
    }

    main {
      position: relative;
      width: calc(100% - 20px);
    }

    .content {
      max-width: 600px;
      margin: 1.3em auto 2em;
      margin-left: 0;

      h1,
      h2 {
        margin: 2em 0 0;
      }

      .am-gdpr-fieldset {
        margin: 1em 0;
        width: 100%;
        position: relative;
        animation: fadeInUp .3s ease-in-out;
        gap: 2.5em;
        &:not([hidden]){
          display: flex;
        }

        >div {
          flex: 1;
        }

        .info {
          animation: fadeIn .2s ease-in-out;
        }

        input:not([type=radio]) {
          width: 100%;
          max-width: 250px;
          margin: .5em 0;
          display: block;
        }
      }

      .component-color-indicator {
        margin-left: -2.5em;
      }

      .form-label {
        display: flex;
        // align-items: center;
        // gap: .5em;
        flex-direction: column;
        font-weight: bold;
        margin-bottom: 1.5em;

        >* {
          font-weight: initial;
        }
      }

      .components-radio-control {
        margin-bottom: 1em;
      }

      .form-helper {
        display: block;
        margin-bottom: .5em;
      }
    }

    .block-tabs,
    .content-tabs {
      display: flex;
      position: relative;
    }

    .block-tabs {
      .block-tab {
        border: 0;
        appearance: none;
        padding: 15px;
        // text-align: center;
        display: inline-flex;
        flex: 1;
        gap: .5em;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-sizing: content-box;
        position: relative;
        outline: none;

        &[data-active="true"] {
          background: white;
          color: #2271b1;
        }
      }
    }

    .content-tabs {
      .content-tab {
        background: white;
        padding: 20px;
        width: 100%;
        height: 100%;
        display: none;
        flex-grow: 1;
        box-sizing: border-box;

        &[data-active="true"] {
          display: block;
        }
      }
    }

    .am-btn {
      font-size: 14px;
      min-height: 46px;
      line-height: 3.14285714;
      padding: 0 36px;
      display: inline-flex;
      border-width: 1px;
      border-style: solid;
      -webkit-appearance: none;
      appearance: none;
      border-radius: 3px;
      white-space: nowrap;
      box-sizing: border-box;
      align-items: center;
      gap: .5em;

      &.small {
        padding: 0 26px;
        min-height: 36px;
      }

      &:not([disabled]) {
        cursor: pointer;
      }

      &.blue {
        color: #f6f7f7;
        border-color: #f6f7f7;
        background: #2271b1;

        &:hover:not([disabled]) {
          color: #f0f0f1;
          background: #0a4b78;
        }
      }

      &.white {
        color: #2271b1;
        border-color: #2271b1;
        background: #f6f7f7;

        &:hover:not([disabled]) {
          background: #f0f0f1;
          border-color: #0a4b78;
          color: #0a4b78;
        }
      }

      &[disabled] {
        opacity: .7;
      }
    }

    .am_gdpr_textarea {
      border-radius: 4px;
      border: 1px solid #8c8f94;
      background-color: #fff;
      color: #2c3338;
      padding: 8px;
      cursor: text;
    }
  }

  .components-base-control {
    label:not(.components-radio-control__label) {
      font-weight: bold;
      font-size: inherit;
      text-transform: none;
    }
  }


  // Toggle button
  .am-switch-label {
    display: flex;
    align-items: center;

    .components-base-control__field {
      display: flex;
      gap: 1em;
      margin-bottom: 0;
    }
  }

}

@media only screen and (max-width: 960px) {
  .toplevel_page_am-cookies .am-gdpr-settings {
    .am-gdpr-header-wrapper {
      width: calc(100% - 66px)
    }
  }
}

@media screen and (max-width: 782px) {
  .toplevel_page_am-cookies .am-gdpr-settings {
    .am-gdpr-header-wrapper {
      width: calc(100% - 20px)
    }
  }
}
