{
	"parser": "@typescript-eslint/parser",
	"env": {
		"browser": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 2022,
		"ecmaFeatures": {
			"jsx": true
		},
		"sourceType": "module",
		"project": "./tsconfig.json",
		"tsconfigRootDir": "./"
	},
	"plugins": [
		"react",
		"react-hooks",
		"react-refresh",
		"@typescript-eslint",
		"import",
		"perfectionist"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking",
		"plugin:@wordpress/eslint-plugin/recommended"
	],
	"ignorePatterns": [
		"**/build",
		"**/node_modules",
		"**/vendor",
		"*.config.*",
		"*.min.*",
		"**/scripts"
	],
	"rules": {
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^_",
				"caughtErrorsIgnorePattern": "^_"
			}
		],
		"@typescript-eslint/no-namespace": "off",
		"max-depth": [
			"error",
			4
		],
		"no-console": [
			"warn",
			{
				"allow": [
					"error",
					"warn",
					"info"
				]
			}
		],
		"perfectionist/sort-imports": "warn",
		"perfectionist/sort-interfaces": "warn",
		"perfectionist/sort-jsx-props": "warn",
		"perfectionist/sort-objects": "warn"
	},
	"globals": {
		"JSX": true,
		"NodeJS": true
	},
	"settings": {
		"import/resolver": {
			"typescript": {}
		}
	}
}
